* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul img {
  width: 30px;
}
body {
  /* background: #000; */
  color: #fff;
}

.container {
  /* background: #fff; */
  gap: 20px;
}
.left {
  width: 25vw;
  padding: 10px;
}
.left img {
  width: 40px;
  padding: 10px;
}
.right {
  width: 75vw;
  padding: 10px;
}
